.navbar-brand {
    font-size: 30px;
    margin-bottom: 40px;
}

.logo {
    border-radius: 60px !important;
    
}




/* .show-card {
   display: flex;
   justify-content: center;
} */

#custom-class {
    display: flex;
    width: 50%;
    margin: auto;
    object-fit: cover;
    
    
}

#carousel-container {
    background-color: green;
    text-shadow: 3px;
    

    


}

#meals {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}

#show-card {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

