.navbar-brand {
    font-size: 30px;
    margin-bottom: 40px;
}

.logo {
    border-radius: 60px !important;
    
}


.form {
    margin-left: 500px;
}

.card{
    margin-left: 170px;
    margin-right: auto;
    margin-top: 40px;
}
